[2022-03-17 22:17] #263 closed

[2022-03-17 23:28] TwiN commented on #261
I feel this may be a duplicate of #227. What do you think?

[2022-03-18 20:07] JayFromProgramming commented on #261
It does appear to be a duplicate, my bad I didn't see that issue before I posted mine.

[2022-03-18 20:07] #261 closed

[2022-03-20 19:25] 12nick12 commented on #130
Would it be possible to hardcode many of the same like custom-1 custom-2 pagerduty-1 pagerdut-2 and maybe do 3 of each that way we at least have more than one?

[2022-03-20 20:42] TwiN commented on #261
@JayFromProgramming No worries!

[2022-03-20 20:44] TwiN commented on #130
@12nick12 See #96

[2022-03-22 15:06] JayFromProgramming opened #268 "Allow for checking if json values are greater than or less than"
### Describe the feature request

As of now you can check if a json value is equal to another value, but it does not appear to be possible to check if a json value is less than or greater than a value
![image](https://user-images.githubusercontent.com/46631427/159512207-e7ef852a-a870-4cfa-98e1-5aa552520dd6.png)
It'd be incredibly useful at least in my desired usecase to be able to check if a json

[2022-03-22 22:55] TwiN commented on #268
Hello @JayFromProgramming!

In fact, what you're asking for should already be supported. There's even a test for it:
https://github.com/TwiN/gatus/blob/a81c81e42c80aae76c1aad4df5a3f4e1185c0b92/core/condition_test.go#L222-L226

That being said, I'm pretty sure it doesn't work for decimals, as the value is parsed to an integer rather than a float:
https://github.com/TwiN/gatus/blob/a81c81e42c80aae76

[2022-03-24 20:25] emrahcetiner opened #270 "use response body from another endpoint"
### Describe the feature request

I read all docs completely but I couldn't see any information about this. Is there any way for this? I want to add a sesion-token to endpoints.header from another request's response.

### Why do you personally want this feature to be implemented?

_No response_

### How long have you been using this project?

_No response_

### Additional information

_No response

[2022-03-24 21:39] emrahcetiner commented on #270
It may be possible like this:

[code]

[2022-03-28 08:07] danilvoe opened #273 "Using a DNS server other than the system one"
### Describe the feature request

The ability to use a dns server other than the system server for monitoring.
Implementation example  https://koraygocmen.medium.com/custom-dns-resolver-for-the-default-http-client-in-go-a1420db38a5d

### Why do you personally want this feature to be implemented?

At the moment, Gatus is running in the cloud (docker) inside which the container itself is with Gatus.

[2022-03-28 18:43] emrahcetiner commented on #270
@TwiN what do you think about this feature and solution?
Should extracted variables be stored in storage or not?
I want to contribute, but first, is the design right for the project?

[2022-04-03 10:54] mapl commented on #273
You actually can specify the dns server to use
see https://github.com/TwiN/gatus#monitoring-an-endpoint-using-dns-queries

[2022-04-03 23:27] TwiN commented on #270
I tried looking for the relevant issue to no avail, but in the past, I had started considering the implementation of "suites".

Basically, a suite would contain multiple endpoints that would be run in order. If one of them fails, then the suite would be considered as failed.

To start, the configuration could look something like this:
[code]

The suite would have a shared context (basically a map)

[2022-04-03 23:52] TwiN commented on #268
Since the feature you requested is partially supported and you haven't said anything for nearly two weeks, I'm going to close this, but feel free to re-open.

[2022-04-03 23:52] #268 closed

[2022-04-04 17:48] LouisMT commented on #224
**What company do you work for?:**
Personal projects

**What do you monitor with Gatus?:**
I manage a few home servers, mainly for home automation, network controllers and personal projects

**How long have you been using it for?:**
A few months

**How many endpoints are you monitoring?:**
34

**Is it public-facing, or internal only?:**
Both

**What feature would you like to see in Gatus?:**
I've

[2022-04-08 05:50] mani9223-oss commented on #252
@TwiN Any thoughts on this feature?

[2022-04-09 00:38] TwiN commented on #252
I can see how that would be useful, but this would probably require a more serious authentication system, wouldn't it?

I do think it's a great idea, though 🤔

[2022-04-10 06:56] BrianInAz commented on #176
I think an easier/quicker path to HA might be to model it after  Prometheus and leverage Alertmanager to de-dupe alerts.

I've only taken a brief look so far but I think the existing custom notification will work with Alertmanager so long as the notification limiter is commented out.

[2022-04-11 07:31] mani9223-oss commented on #252
Thanks, @TwiN . Yes, since this would be a POST request, we certainly need an authentication system.

[2022-04-13 15:01] wei840222 opened #274 "feat(metrics): Add more metrics (e.g. duration)"
### Describe the feature request

In this project https://github.com/prometheus/blackbox_exporter, many metrics like probe_success, probe_duration etc... provided. And in dns probe https://github.com/prometheus/blackbox_exporter/blob/master/prober/dns.go#L129 also has metrics for dns.

### Why do you personally want this feature to be implemented?

Maybe we can add these metrics in gatus, and user

[2022-04-19 00:21] TwiN commented on #274
Sounds reasonable to me, feel free to give it a try!

One thing to keep in mind, however, is that I try to keep Gatus as lightweight as possible, and this extends to metrics too.
See https://status.twin.sh/metrics for an example of what metrics are currently exposed (I believe there's only `gatus_results_total` right now as far as custom metrics goes).

[2022-04-19 06:25] mani9223-oss opened #275 "Add progress bar for APIs loading at the backend"
### Describe the feature request

We need to show the progress bar while loading APIs at the backend. For instance, this API` api/v1/endpoints/statuses?page=$pageNumber` is taking 10 to 15 seconds for me, and I feel it's better to show a progress bar to say that the page is loading something at the backend.

### Why do you personally want this feature to be implemented?

I have more than 300 endpo

[2022-04-19 15:17] wei840222 commented on #274
OK, I'll start developing

[2022-04-21 17:52] lucagouty commented on #274
@wei840222 thanks for having a look at that one, I'm very interested!

Duration is clearly a must have, but I think we should also add few more :
- `url`, for now there's only name/key/group
- `cert_valid` / `cert_days_remaining`

I agree with @TwiN, it's great to keep it lightweight, but I'd say those are the bare minimum.

Some inspiration from a project quite similar : https://github.com/louisl

[2022-04-22 03:15] TwiN commented on #274
@lucagouty `cert_valid` and `cert_days_remaining` don't really sound that important to me. At most, you'd just have a graph that gradually goes down.
Instead, you could just have an endpoint with a condition that uses the `[CERTIFICATE_EXPIRATION]` placeholder, and use the existing `gatus_results_total` metric to figure out when a certificate is about to expire or not.

I do agree on the `url` bei

[2022-04-22 05:43] lucagouty commented on #274
Hi @TwiN, thank you for taking the time to answer.

Yes I agree, but it's actually quite nice to have it. I know Gatus alerts are very nice, but tbh I intend not to use it and do as much as possible using prometheus/alertmanager/grafana so I keep everything in the same place.

Here is the Grafana dashboard I've made for Uptime Kuma, I'd really love to achieve the same with Gatus :
![image](https:/

[2022-04-22 23:55] TwiN commented on #274
@lucagouty I'm not completely against it, but I'd appreciate if you could try to throw a working PoC (doesn't need to be perfect, I just want to see with my own testing configs what the body of the `/metrics` endpoint looks like with these metrics and how much it grows in size) that I can clone and test myself.

Alternatively, you could try and see if @wei840222 is open to the idea of you contribu

[2022-04-23 17:27] TwiN commented on #275
That'd definitely be an improvement UX-wise.

Another feature that might help with this, though, is implementing paging for endpoints (see #150).

[2022-04-25 05:41] lucagouty commented on #274
ok thanks you @TwiN, I think I'll wait for @wei840222 PR to be reviewed, and if that one suits you then I'll try to match what he's done

[2022-04-26 00:19] TwiN commented on #106
Had some free time today, decided to add support for buttons under the header:
![image](https://user-images.githubusercontent.com/15699766/165194724-19528123-6ae3-4c18-ae82-15a48099f1c4.png)

Very minimal, but I figured it could still come in handy.

[2022-04-27 04:44] wei840222 commented on #274
hi @lucagouty , thx for your interest for this issue.
I still develop in my free time and you can check my pregress here https://github.com/wei840222/gatus.
And I'll try to taking your advice.
In fact our org also build our own uptime dashboard on Grafana and scrape metrics from blackbox exporter, we also want to replace by Gtus

[2022-04-28 09:32] wei840222 commented on #274
Hi @lucagouty and @TwiN I've prepared the pr, plz review changes
thx for your help :)

[2022-04-30 18:15] euh2 opened #280 "JSONPath in alert.description"
### Describe the feature request

I would like to use the same information from condition response in the alert description. I use Gatus to poll the Ceph API for Health Status. It would be nice to see the actual status in the alert description.

Something like:
[code]

### Why do you personally want this feature to be implemented?

Nice to have

### How long have you been using this project?

1d

[2022-05-03 18:51] Darkvater commented on #253
following, have the same issue here. Cannot connect to any status-page requiring a cert as it says "remote error: tls: bad certificate". As this feature is critical I might have a go at getting it done myself, will share a pull-request if done.

[2022-05-03 19:07] Darkvater opened #281 "feat: Support default endpoint config"
### Describe the feature request

It is brilliant that for alerting one is able to setup defaults, but something similar could be very useful for the endpoint configuration as well.
Functionality should be the same as for default-alerting, e.g. you set the defaults but you can still override it per endpoint if needed. It should properly mix in with default-alerting, if one is set up.

This will al

[2022-05-03 19:18] Darkvater opened #282 "additional placeholders for alerting"
### Describe the feature request

Alerting currently only has the below placeholders.
- ALERT_DESCRIPTION
- ENDPOINT_NAME
- ALERT_TRIGGERED_OR_RESOLVED

This is quite rudimentary to implement into custom alerting endpoints (like rocket.chat webhooks for example).
While some of the built-in alerts can show how often the health-point failed, or show which condition failed, this is not possible for c

[2022-05-07 20:55] TwiN commented on #273
I believe @danilvoe is talking about the DNS server to use for non-DNS endpoints (e.g. HTTP) to, for instance, perform the hostname lookup.

[2022-05-07 21:08] TwiN commented on #281
To be honest, I'm a little skeptical about adding this as a feature.

On one hand, it does help reduce the configuration file size as well as make it easier to apply certain configurations across all endpoints, but on the other hand, due to how much more complex endpoint configuration is than the alert configuration, it also makes it considerably harder to understand.

Furthermore, what about type

[2022-05-09 18:55] iamdempa commented on #253
Is this released?

[2022-05-09 20:47] TwiN commented on #253
@iamdempa No, otherwise the issue would have been closed :P

[2022-05-10 17:05] Matir opened #283 "Add support for MariaDB/MySQL"
### Describe the feature request

sqlite and postgres are both available as storage engines.  In some environments, where a MySQL or MariaDB server already exists, it would be convenient to use a DB on this server.

### Why do you personally want this feature to be implemented?

I have an environment with MySQL/MariaDB :)

### How long have you been using this project?

Currently evaluating

### A

[2022-05-13 01:47] TwiN commented on #283
Sounds good to me!

It may be a bit tricky though, because IIRC, mysql/mariadb does not support the following:
- `INSERT INTO ... RETURNING <column_name>`
- `INSERT INTO ... ON CONFLICT(...) DO UPDATE`

[2022-05-25 20:29] Darkvater commented on #281
Actually I was thinking something much-much more general and this would also allow you to drop default-alerting which is a very specific implementation of groups/templates.
The idea is that you define a completely free-style template, e.g.
[code]
And wherever you want to use it it simply gets popped in, e.g.
[code]
The template will be injected and you'll end up with
[code]
This is nothing more th

[2022-05-29 19:14] #246 closed

[2022-06-07 15:20] gouku opened #286 "Ability to customize theme/design"
### Describe the feature request

It would be great to have the ability to customize the theme/design via custom CSS

### Why do you personally want this feature to be implemented?

This can be a simple options in yaml that let users add some custom CSS then this will be injected to the footer of the HTML output.

### How long have you been using this project?

1 mo

### Additional information

N/

[2022-06-07 16:18] gouku opened #287 "Add endpoint URL in alert notifications"
### Describe the feature request

I just found not all notifications are born equal. For example Slack:

![image](https://user-images.githubusercontent.com/9361308/172430996-6913272b-8429-4148-a07e-11203796a4db.png)

Teams:

![image](https://user-images.githubusercontent.com/9361308/172431037-0d05cfe0-358d-4ba8-b82c-82353a726c70.png)

There's no `URL` section for notifications sent to Slack.

###

[2022-06-07 19:27] MiddleMan5 commented on #88
Allowing us to configure the full external path would also be acceptable. You may still need to modify a constant on the client side (our backends usually write the configured value to <base href=PATH /> which our frontend's read into a variable in our path building utils on load)

IE:
`external-root: https://health.my-domain.com/region-1/`

All relative links accessed by the client would be repla

[2022-06-07 23:40] TwiN commented on #282
f899f41d161e675039168b196aa28304f648f0af has added `[ENDPOINT_URL]` and `[ENDPOINT_GROUP]`, but as for the other suggestions you had, I'm not sure how to tackle them.

Honestly, I would rather have a specific provider implementation for more complex use cases, but if you have a solution, feel free to suggest it.

[2022-06-07 23:44] TwiN commented on #287
I mean, _technically_ you could just specify the URL in the alert description.

To be honest, I wasn't even aware that Mattermost's alerting provider had the URL in the alert 🤣

[2022-06-07 23:45] TwiN commented on #274
Closed by #278

[2022-06-07 23:45] #274 closed

[2022-06-08 12:46] gouku opened #288 "Implement parameter to hide entire URL from UI"
### Describe the bug

See attachment:

<img width="1012" alt="Screen Shot 2022-06-08 at 8 39 35 AM" src="https://user-images.githubusercontent.com/9361308/172618980-d6f55312-e831-4665-9f1b-a4ffb2148718.png">

### What do you see?

Although the hostname got redacted. But the API key in the URI are not.

### What do you expect to see?

The whole endpoint should be redacted. Or just add an option to

[2022-06-08 13:28] Voolodimer commented on #287
[code]
This config doesn't works for me

[2022-06-08 21:55] TwiN commented on #287
@Voolodimer That's normal -- what I meant is that at the endpoint level, you know what the URL is. It's in your configuration at `endpoints[].url`, so you could very well just include it in the description too:

[code]

As for `[ENDPOINT_URL]`, it only works for the custom alerting provider.

[2022-06-09 11:41] gouku commented on #287
@TwiN Thanks for the solution. But with this workaround we have to add it to each endpoints. I have over 100 endpoints with a default alerting configuration setup.

[2022-06-12 22:03] TwiN commented on #275
I finally gave in after seeing yet another configuration with >100 endpoints.

I personally never thought that so many people would use Gatus to monitor a _significant_ amount of endpoints, but hey, that's a good thing as far as I'm concerned. I'll be rolling out an update which will add a loading animation while the data is retrieved in a few minutes.

[2022-06-12 23:18] #275 closed

[2022-06-13 02:56] asymness commented on #287
@TwiN, I can take this up and add URL to all alerting providers.

[2022-06-16 21:53] TwiN commented on #288
Closed by #294

[2022-06-16 21:53] #288 closed

[2022-06-18 17:47] TwiN commented on #287
To be honest, I still think the description should be left without templating for 3 reasons:
- You have to add this anyways on each of your endpoints:
[code]
and it's not really that much more work to add an extra `description`:
[code]
- Templating, while super useful when it comes to reducing the length of the configuration (and let's face it, the longer your configuration, the more easy it is to

[2022-06-19 08:49] gouku commented on #287
@TwiN Thank you for explaining this. Actually because we have many nodes to monitor (100+). We use the following method to keep our config file smaller:

[code]

It would be great if `[ENDPOINT_URL]` is usable as a variable in description in my case.

[2022-06-20 17:59] #204 closed

[2022-06-21 01:53] TwiN commented on #282
The aforementioned `[ENDPOINT_URL]` and `[ENDPOINT_GROUP]` have been released in [v4.0.0](https://github.com/TwiN/gatus/releases/tag/v4.0.0).

[2022-06-21 01:56] TwiN commented on #204
Released in [v4.0.0](https://github.com/TwiN/gatus/releases/tag/v4.0.0)

[2022-06-21 12:26] boopzz commented on #224
What company do you work for?
UK based public sector

What do you monitor with Gatus? (business applications? databases? DNS queries? certificate expiration?)
All HTTPS monitors to monitor tooling

How long have you been using it for?
Nearly 3 months

How many endpoints are you monitoring?
11

Is it public-facing, or internal only? (e.g. can customers see it, or only developers?)
Internal

What fe

[2022-06-27 15:56] tiwood opened #298 "Provide a way to troubleshoot `[BODY]` conditions"
### Describe the feature request

We have some checks where we use a `[BODY]` condition. Sometimes the request seems to completely fail and the body cannot be parsed which results in failed condition like this:

![CleanShot 2022-06-27 at 5 48 58](https://user-images.githubusercontent.com/6249819/175981414-e3b63eb6-d381-465e-afa0-60162444be13.png)

It would be great if we could actually get the ful

[2022-06-30 01:10] TwiN commented on #298
Would you be fine if if was just printed in the console if `debug` was set to `true`?

[2022-07-05 09:38] juanfont commented on #242
@TwiN would you accept a PR making this fields configurable from the config.yml?

[2022-07-06 00:19] TwiN commented on #242
@juanfont Sure! It'll also require some changes on the front-end.

You'll also probably have to use [this](https://github.com/TwiN/gatus/blob/ab2bee9c4bfa4e69bec20645823a888da5738d93/web/app/public/index.html#L6) and [this](https://github.com/TwiN/gatus/blob/master/config/ui/ui.go) to pass the parameter from the backend to the frontend so that the frontend knows how many pages there are.

[2022-07-06 00:24] TwiN commented on #287
@gouku That's awesome, to be honest, I didn't think it would work out of the box 🤣
It would be a great addition to the README, if you're up to it.

But yeah, I'm fine with adding this, but only if the last point mentioned [here](https://github.com/TwiN/gatus/issues/287#issuecomment-1159523127) can also be fulfilled.

[2022-07-19 00:32] TwiN commented on #88
@MiddleMan5 If you or anybody else can get it to work with the front-end, feel free to do so. I'm completely fine with using a different approach for routing -- if `pushState` has to go, then so be it.

I do want to rewrite a good part of the UI at some point and make it a little less minimalist, but I don't know when that will happen.

[2022-07-28 00:05] dchidell opened #306 "feat: Add configuration option to disable the GUI"
Gatus provides excellent monitoring and alerting capabilities, however there are instances where the GUI is not required where heavy usage of the aforementioned features are used.

It would be great to have an option to simply entirely disable the GUI to save resources if an endpoint queries a very heavy GUI by accident.

[2022-07-28 00:07] TwiN commented on #306
By disabling the GUI, do you mean disabling the web server for the UI? (e.g. https://status.twin.sh)

[2022-07-28 00:09] dchidell commented on #306
Exactly - but keeping the API in tact.

[2022-07-28 07:31] appleboy commented on #64
I propose one solution: **server** and **agent**.

1. agent makes a new request to the server
2. server response what endpoint has not been handled.
3. agent starts the watchdog to handle the endpoint.

![gatus01](https://user-images.githubusercontent.com/21979/181446807-2a950585-a943-4927-b0d5-5eb5623eb063.png)

[2022-07-28 22:56] TwiN commented on #306
Hmm it shouldn't be much of a problem.

All you'd need to do is add a new configuration here: https://github.com/TwiN/gatus/blob/7daf2b5cac28201c33fc924a7533609f0eb6ee8e/config/ui/ui.go#L25-L31

something like `Disabled`, and then use that configuration here:
https://github.com/TwiN/gatus/blob/7daf2b5cac28201c33fc924a7533609f0eb6ee8e/controller/handler/spa.go#L11-L27

something like if ui.Disabled

[2022-07-29 00:28] TwiN commented on #64
So I just had a very simple idea for a temporary solution, and I just had to give it a shot (see #307).

I still think that the best approach to this problem will be by leveraging a shared database, but for now, this might do the trick for some of you.

Basically, all it does it retrieve the endpoint statuses from another remote host before returning the endpoint statuses. You may specify an endpo

[2022-08-02 22:16] TwiN commented on #150
@dchidell I've finally decided to look into improving the performance yesterday (couldn't reply until now due to work). I'm not sure if you still have ~3500 endpoints, but if you do, I have a couple questions for you.

Does all of your endpoints have the same interval, or do they differ? If they do differ, could you elaborate? For instance, 50% of your endpoints with an interval of 10m and 50% of

[2022-08-03 03:30] TwiN opened #308 "feat(alerting): Implement ntfy provider"
### Describe the feature request

I'd like to create an alerting provider for [binwiederhier/ntfy](https://github.com/binwiederhier/ntfy).

For other examples, see https://github.com/TwiN/gatus/tree/master/alerting/provider

Documentation should also be added in https://github.com/TwiN/gatus/blob/master/README.md#alerting

Here's an example of a similar past pull request: #299

### Why do you pers

[2022-08-03 11:02] dchidell commented on #150
We have more now, we're constantly growing! But the order of magnitude is still the same.

The endpoints are all the same interval, and all would be HTTP. Essentially we have ~1000 machines each running ~5 different docker based web services. The 5 web services are all very similar to each other, and are the same across the machines. The interval would ideally be as low as possible, to detect fail

[2022-08-04 06:22] sicute opened #310 "Custom alert"
### Describe the bug

i have webhook with ryver or any webhook  which need describe content type such as "text/plain" or anything .
and i check logs was content type '' not support .

call to provider alert returned status code 400: {"error":{"code":"client.http.error","lang":"en-US","value":"content type '' not supported"}

### What do you see?

[code]

### What do you expect to see?

Here exampl

[2022-08-05 00:58] TwiN commented on #310
Have you looked at this? https://github.com/TwiN/gatus#configuring-custom-alerts

You can specify your own headers like so:
[code]

By default, if you don't specify any header with the name `Content-Type`, the `Content-Type` header will default to `application/json`.

[2022-08-09 00:56] TwiN commented on #310
Since you haven't replied, I'm going to close this issue.

[2022-08-09 00:56] #310 closed

[2022-08-11 02:17] rafaelrodrigues3092 opened #312 "Maintenance Windows per endpoint"
First and foremost, I'd like to point out that Gatus is great. Truly.

I just implemented it at work, in production, and it has been working great.

When looking through the documentation, it seems like the maintenance windows can be set globaly.

Are maintenance windows per endpoint on your road map at all?

We have several micro-services which have different maintenance windows.

We can create a

[2022-08-12 01:37] TwiN commented on #150
@dchidell I've just pushed the image `twinproduction/gatus:experimental` built from #314. It's not in the latest branch yet because I'd like if somebody properly tested it first.

The first time you load the dashboard will be a bit slow, but the subsequent ones should be significantly faster.

[2022-08-12 13:53] tostt opened #316 "Compact layout"
### Describe the feature request

When there are many endpoints to monitor, a compact layout mode may come in handy (to avoid scrolling!).
It would collect all the information of an endpoint on a single line.

It would look like this (the example has only 3 endpoints but imagine this with dozens more...)
![Sans titre3](https://user-images.githubusercontent.com/5640090/184367493-7737d7d1-906f-4bfe-

[2022-08-13 16:34] tostt opened #317 "Config via a new GATUS_CONFIG environment variable."
### Describe the feature request

Currently, users can specify a custom path for the configuration file by setting the `GATUS_CONFIG_FILE` environment variable. That's nice.

Going further, to make life easier for users who have no control on the infrastructure (especially volumes), a new `GATUS_CONFIG` environment variable would be useful.
This variable would contain a valid configuration (i.e. t

[2022-08-13 21:16] TwiN commented on #317
Hello @tostt,

The problem with this is that some OS appear to have limitations on maximum number of bytes for environment variables.

That said, I'm not strictly against having such a feature, so if you'd like to implement it, feel free to create a PR.

[2022-08-13 21:22] TwiN commented on #316
That's not a bad idea. We could add a button to toggle "compact mode" on/off, and persist the user's preference at the browser-level by using session or local storage like we already are for refresh interval and dark/light theme in https://github.com/TwiN/gatus/blob/master/web/app/src/components/Settings.vue

[2022-08-14 11:24] danilvoe commented on #273
Works great! (just now had a chance to check in action)

[2022-08-14 11:24] #273 closed

[2022-08-14 16:05] sudheeshb opened #319 "Custom Alert Message"
### Describe the feature request

Hello,

As of now  I am getting a lots of messages for the alert.  For example, I am using ping, and I get the following messages  as part of the alert, which is too much for my taste.

__________________________________
"
Gatus

An alert for xxxx has been detected.
Heath check failed 1 times in a row,

Description:
Down

Condition results
X  CONNECTED = false ==

[2022-08-14 19:45] TwiN commented on #319
Have you tried using the custom alerting provider? You should be able to achieve what you're trying to do with it.

[2022-08-14 22:25] sudheeshb commented on #319
Thanks!.   This should work.  Is there any example available for custom alert using Telegram?. I see only  examples using slack in the documentation.

[2022-08-15 01:58] TwiN commented on #319
You can look at the code for Telegram's alerting provider.

For instance, this is what the body looks like: https://github.com/TwiN/gatus/blob/f01b66f083c3184762afd8041877f09aef2f05b3/alerting/provider/telegram/telegram.go#L77

The URL: https://github.com/TwiN/gatus/blob/f01b66f083c3184762afd8041877f09aef2f05b3/alerting/provider/telegram/telegram.go#L38

[2022-08-15 02:02] sudheeshb commented on #319
Thanks for the pointers.   Will check the source code

[2022-08-15 05:28] sudheeshb commented on #319
I added the following , but couldn't make it work.

alerting:
  custom:
     placeholders:
       ALERT_TRIGGERED_OR_RESOLVED:
         TRIGGERED: "partial_outage"
         RESOLVED: "operational"
    url: "https://api.telegram.org/bot123456:xxx_OraQhshL15muFs4C10Axxxxxxxx"
    method: "POST"
    body: |
      {
        "text": "50x41xxxx,   [ALERT_TRIGGERED_OR_RESOLVED], MARKDOWN"
      }

Got th

[2022-08-16 00:31] TwiN commented on #319
Could you format the configuration properly so that I can see exactly what your config is? It seems like you're having an issue with the indentation :)

Also, the body will look more like this:
[code]
and the url:
[code]

[2022-08-19 04:15] sudheeshb opened #321 "Time Zone issue with 'Response Time' Graph"
### Describe the bug

I noticed that the time zone used in the 'response time' graph of the end points doesn't match with local time zone. What am I missing here?

The time zone in the first page ( health status ) is correct. I am using Docker and passing the time stamp via '-e TZ=America/Los_Angeles' .

docker run -d
-p 9090:8080
-v /home/testDocker/Gatus/config:/config
--name gatus
-e TZ=America

[2022-08-22 22:32] TwiN commented on #64
One of the issues with #307 is that clicking on the individual endpoint on the UI does not work. In other word, the page for viewing individual endpoints does not work if said endpoint comes from a remote Gatus instance.

I'm going to release this with v4.1.0, but I'm strongly considering getting rid of that implementation, unless somebody is actually using it and finds it helpful.

[2022-08-22 22:50] TwiN commented on #321
By default, Gatus uses UTC and doesn't really care about the user's local time.

It may however be possible to programmatically pass the user's local timezone while requesting for the response time graph. Something like
[code]
or perhaps something like
[code]
where `+06:00` is the `UTC` offset

[2022-08-23 16:06] sudheeshb commented on #321
The main page ( Health Status ) page uses user's local timezone, but response time graph not.  That is the concern.

[2022-08-24 01:03] TwiN commented on #321
Yeah, that's because the response time graph is just a SVG generated on the backend, so unless we pass the timezone of the local user to the backend when generating said SVG, we won't be able to determine the visiting user's timezone.

That said, it should be fairly simple to implement.

All we have to do is add support for a query parameter here: https://github.com/TwiN/gatus/blob/2be81b8e1a5ecfd

[2022-08-25 14:05] ndlanier commented on #253
I'll add my +1 to wanting this feature.

Great tool though @TwiN, the simplicity and scalability with this is amazing and can't wait to see how this project grows.

[2022-08-25 18:51] nzsambo commented on #64
Thanks @TwiN for your efforts here, even if you're not happy with the implementation, it's a great start!

I would use this to monitor the same group of services from multiple locations, rather than just bypass security. I get that throwing an instance behind a NAT firewall is definitely great, even better is being able to see metrics from different perspectives of the Internet. My old smokeping i

[2022-08-26 13:23] hypervtechnics commented on #64
I also have the same or a very similar use case as @nzsambo and I also agree on this being a push mechanism.

I'd also recommend a static token per agent. The configuration should look something like this:

[code]

This would also require to add a new dimension for an endpoint check result to also contain the pov (agent or host). Maybe an option can be added to define the distribution behaviour wi

[2022-08-26 13:27] hypervtechnics commented on #229
I also need this heartbeat behaviour. Maybe we can orient at the behaviour in uptime kuma?

[2022-09-01 08:11] Voolodimer commented on #287
Hello!
is there any update on this issue ?

[2022-09-06 02:07] TwiN commented on #287
@Voolodimer if you'd like this feature request to be prioritized, please react to the first message in the issue with 👍

[2022-09-06 10:12] jiiro974 opened #326 "split config files"
### Describe the feature request

Currently all config is in a single file

Splitting config into mutliple files can improve readability

for example :
config/generic.yaml with all global config

[code]

config/host1.yaml with host1
[code]

Adding a notion of "service"  can be great (so we can link a node with multiples services)

config/host1.yaml with host1
[code]

Thanks !

### Why do you perso

[2022-09-07 01:22] #133 closed

[2022-09-08 09:27] brammeleman opened #327 "Set maintenance timezone"
### Describe the feature request

In addition to #312, it would be nice to specify the timezone for the window. Our maintenance windows are in local time and we would need to account for daylight saving time twice a year.

### Why do you personally want this feature to be implemented?

Ease of use ;-)

### How long have you been using this project?

2 days!

### Additional information

_No respons

[2022-09-09 19:23] Oscar-Ruiz-R-Mojix opened #328 "Add "username" and "password" as optional Oauth 2.0 authentication"
### Describe the feature request

Hi!
It would be really useful to be able to add in the client side yaml config file an option to add username and password. This because some web services rely on that data to create a special token. It could be something like:
`endpoints:
    - name: "/webservice/endpoint"
      url: "https://some-url/"
      client:
        oauth2:
          token-url: https://a

[2022-09-11 14:42] FastdevAB commented on #328
Hello, I also agree.
It is very valuable and important.
When I trying to configure Nifi API monitoring with Gatus using Oauth2 client, I get an error from the Nifi server.
`2022-09-11 16:26:56,360 DEBUG [NiFi Web Server-17] o.a.n.w.s.l.RequestAuthenticationFilter Username not found Remote Address [127.0.0.1]`
This problem could be solved by passing Username for the Nifi server.

[2022-09-11 14:43] ekb100500 commented on #328
Hello, I also agree.
It is very valuable and important.
When I trying to configure Nifi API monitoring with Gatus using Oauth2 client, I get an error from the Nifi server.
`2022-09-11 16:26:56,360 DEBUG [NiFi Web Server-17] o.a.n.w.s.l.RequestAuthenticationFilter Username not found Remote Address [127.0.0.1]`
This problem could be solved by passing Username for the Nifi server.

[2022-09-12 17:10] praveen-livspace opened #329 "Detail page of remote endpoints throw 404"
### Describe the bug

Clicking on any of the remote endpoint on the main page takes to a 404 page.

### What do you see?

A blank detail page

### What do you expect to see?

Detailed status of the remote endpoint.

### List the steps that must be taken to reproduce this issue

1. Start the application with a remote endpoint.
2. Click on the remote endpoint hyperlink.
3. Notice that the detail pag

[2022-09-13 05:06] TwiN commented on #329
Related: #64

[2022-09-13 05:15] TwiN commented on #328
Could you expand on what kind of configuration you'd like to see? The example you provided has no username/passwore fields.

[2022-09-13 19:52] Oscar-Ruiz-R-Mojix commented on #328
Hi! So I was thinking if it could be added as an optional option inside oauth2. Like this.
    - name: "/some/endpoint/{id}"
      url: "https://some-url.com/"
      client:
        oauth2:
          token-url: https://some-auth-url.com/openid-connect/token
          client-id: client-id
          client-secret: some-secret
          scopes: ["scope"]
          username: this.user@mail.com

[2022-09-14 14:40] praveen-livspace commented on #329
@TwiN please check this PR #330 . It handles the case of remote endpoints

[2022-09-14 23:13] TwiN commented on #328
So what you really want is OAuth2 password grant?
Yeah, that sounds like a reasonable idea.

[2022-09-14 23:30] TwiN commented on #326
Honestly, I'm not sure how I feel about that.

If you need more than one configuration file because you have too many lines, perhaps it's because there's too many endpoints for one Gatus instance.

While I do understand that configuration files can get rather large, with some comments, it shouldn't _harm_ readability/maintainability, not to mention that you can leverage anchors to make your config

[2022-09-16 11:43] pccrazy opened #331 "Post Body is not sent"
### Describe the bug

i am trying the following request
[code]

### What do you see?

currently the result is false, it seems that it cannot the body was not sent.

![Screen Shot 2022-09-16 at 3 38 57 PM](https://user-images.githubusercontent.com/5598959/190630676-d6d7bd34-2283-4141-aca0-af33f9fe86da.png)

### What do you expect to see?

i was expecting to get the same body sent in the endpoint

#

[2022-09-16 12:21] TwiN commented on #331
@pccrazy It's because you didn't specify the header `Content-Type: application/json`.

[code]

[2022-09-16 12:22] TwiN commented on #331
Oops, accidentally closed it.

Let me know if that fixes it.

[2022-09-16 13:40] pccrazy commented on #331
yes it did, thank you

[2022-09-16 20:30] #331 closed

[2022-09-20 12:47] belaytzev opened #333 "Support UDP endpoints"
### Describe the feature request

DNS servers and some VPN servers like OpenVPN work on UDP protocol. Check availability for these services possibly only by checking UDP port

### Why do you personally want this feature to be implemented?

I want check availability of some my VPN servers

### How long have you been using this project?

1 year

### Additional information

Based on [TCP](https://git

[2022-09-21 17:01] dnltech2020 opened #334 "oauth2 token add to header as Bearer Token"
### Describe the bug

need a way to add Authorization header with the Bearer token that is got by the oauth2 configuration.

### What do you see?

I keep seeing endpoint success=false.  I have added the oauth2 configuration which is correct, but the token needs to be added as a Header of Authorization = Bearer <token>

### What do you expect to see?

even with the oauth2 configuration I'm still se

[2022-09-27 11:28] mrmonkington commented on #283
Mariadb (*not* MySQL) has `RETURNING` since 10.5, though if you just want to get a new primary key back older versions and MySQL have `SELECT LAST_INSERT_ID()` which operates per session. (i.e. you are guaranteed to get the last new primary key generated on your current session)

MySQL/MariaDB you have two options to do something similar:

`REPLACE INTO` -> simpler if you just want to overwrite an

[2022-10-05 02:31] AlexeyPirogov opened #335 "JSON Path support issue"
### Describe the bug

I'm using next JSON Path ```"[BODY].apps.app[?(@.id==2)].errors == 0"```
to verify next JSON
[code]

### What do you see?

I'm getting next error on UI after evaluation ```'- couldn't walk through 'app[?(@' because type was '<nil>', but expected 'map[string]interface{}'```.

### What do you expect to see?

Validation should pass.

### List the steps that must be taken to repr

[2022-10-05 02:42] TwiN commented on #335
The `[?(@.id==2)]` instruction is not currently supported; to get the second element in the array, you'd have to use `[1]` (`[BODY].apps.app[1].errors == 0`).

I guess you're using `[?(@.id==2)]` instead because the order of the elements in the array is not always the same?

[2022-10-05 05:53] AlexeyPirogov commented on #335
Thx, for quick reply. Real json is more complicated, I just provided minimal example to reproduce the issue.
We query Hadoop cluster and in response I need to look for my app by 'name' field and verify status:
[code]

If we can't do this with JSON Path, do you support regex?
I think it possible to write regex with similar functionality, just trickier.

[2022-10-07 07:00] mani9223-oss opened #339 "bug: Progress bar not loading for left and right navigation buttons"
### Describe the bug

Progress bar not loading for the left and right navigation buttons

### What do you see?

_No response_

### What do you expect to see?

The progress bar should load when we click the left and right buttons.

![image](https://user-images.githubusercontent.com/60106299/194486157-80d06b93-2124-4c1d-a00c-bbd5e2c2f395.png)

### List the steps that must be taken to reproduce this

[2022-10-07 12:21] mani9223-oss commented on #252
@TwiN Would you consider implementing this?

[2022-10-07 18:16] Doomsdayrs commented on #224
**What company do you work for?:**  ShosetsuOrg
**What do you monitor with Gatus?:** Shosetsu various endpoints, such as CDN and error reporting
**How long have you been using it for?:** Today
**How many endpoints are you monitoring?:** cdn, repo, acra, @
**Is it public-facing, or internal only?:** public
**What feature would you like to see in Gatus?:** Stats and persistent logs of website histor

[2022-10-09 02:46] TwiN commented on #335
There's currently no support for regex, but you may be able to do something using the `pat` function (see https://github.com/TwiN/gatus#functions).

That said, I do like the idea of adding support for a basic filter (the condition would be something like `[BODY].apps.app[?(@.id==1)].errors == 0`).

In fact, it shouldn't be _too_ hard to implement. Somewhere around these lines: https://github.com/T

[2022-10-09 20:45] #308 closed

[2022-10-09 21:41] TwiN commented on #118
#47 will likely need to be completed before we can do this, since the Docker image built uses scratch and has no shell of its own.

[2022-10-09 21:43] TwiN commented on #173
We could just resolve this by setting `log.SetOutput(os.Stdout)`. By default, `log` uses `os.Stderr`.

[2022-10-10 01:33] #47 closed

[2022-10-13 12:01] kobellem commented on #326
👍

This would help in setting up the application on kubernetes. At the moment we're trying to add a postgres connection, however we want to store the sensitive part (username/password) in a secret instead of the configmap. Having the ability to split the config files would make this possible.

[2022-10-16 18:07] salim-b opened #343 "Omit `<a>` element if `ui.link: ""`"
### Describe the feature request

It would be desirable to omit the HTML `<a>` element surrounding the logo's `<img>` tag when the configuration option `ui.link` is set to an empty string (i.e. the logo hyperlink is disabled). Currently, only the `href` attribute of the `<a>` element is omitted in such case, whereas it would be better to completely omit the element itself.

### Why do you personal

[2022-10-16 18:17] salim-b opened #344 "Allow to set separate logo for dark mode"
### Describe the feature request

When using a black-and-white or dark logo with transparent background, it becomes barely visible when dark mode is toggled on. The same is true for light mode with a white/light logo with transparent background. Thus it would be nice if we could configure two seperate logo files/URLs, one for the (default) light mode and one for the dark mode.

Config could become

[2022-10-16 18:30] salim-b opened #345 "Allow to set HTML meta description"
### Describe the feature request

It would be nice to be able to set the [`<meta name="description">`](https://web.dev/meta-description/) of Gatus' web frontend, e.g. via an additional config option `ui.description`.

### Why do you personally want this feature to be implemented?

It would increase the status page's machine-readability (meta description can be conceived as a kind of structured dat

[2022-10-16 18:42] TwiN commented on #345
See #342

[2022-10-17 04:03] #343 closed

[2022-10-24 07:35] xeruf commented on #64
I don't think this is an edge-case if you think bigger: I am considering a HA setup, but separate from the kubernetes cluster gatus should monitor to prevent entanglement. The proposed server-agent solutions also don't solve that, unless you can distribute the server, at which point you arrive at a design similar to kubernetes: server instance as control plane and agents as nodes.

I want an insta

[2022-10-24 08:59] hypervtechnics commented on #64
I think HA and a distributed deployment should be seen as two different things. Both have their challenges. How do you imagine a HA setup to work internally? Same database in the background? Syncing between the instances?

[2022-10-24 21:52] salim-b opened #351 "Unclear error message `invalid character '<' looking for beginning of value`"
### Describe the bug

A JSON API endpoint I'm monitoring briefly fails from time to time with the error message

[code]

The failing condition is `len([BODY].25447.bill) >= 1`.

I don't really understand what the error message is supposed to mean. No JSON payload present in the `[BODY]`?

### What do you see?

An opaque error message.

### What do you expect to see?

A clear/understandable error m

[2022-10-30 21:56] xeruf commented on #64
Now that I revisit this, yes, both these concerns can be handled separately, and there is already quite an elaborate issue about HA: https://github.com/TwiN/gatus/issues/176

[2022-10-30 21:58] xeruf commented on #209
Uptime Kuma has a nice guide with Prometheus and Grafana, maybe this can be handy here, too ;) https://github.com/louislam/uptime-kuma/wiki/Prometheus-Integration

[2022-10-30 21:59] xeruf commented on #6
What's up with this now?

[2022-10-30 22:34] xeruf commented on #205
See:
- https://twin.sh/articles/56/securing-gatus-with-oidc-using-auth0
- https://github.com/TwiN/gatus#oidc

You should link to the readme from gatus.io as it took me a while to locate the documentation there ^^

[2022-10-31 00:05] TwiN commented on #6
@xeruf https://github.com/TwiN/gatus#metrics

The relevant metric is `gatus_results_code_total`.

You should be able to see an example in https://status.twin.sh/metrics

[2022-10-31 00:09] TwiN commented on #209
@xeruf There's an example at https://github.com/TwiN/gatus/tree/master/.examples/docker-compose-grafana-prometheus, as linked in https://github.com/TwiN/gatus#metrics

[2022-11-01 04:33] #345 closed

[2022-11-03 15:33] diamonddelt commented on #326
I'd also like to second the usefulness of managing this solution with split files. Our Gatus configuration file is over 1600 lines, and we anticipate needing to monitor more endpoints in the future. We can use the default condition syntax above, but it will still be quite lengthy.

[2022-11-03 15:37] diamonddelt opened #359 "fix: len([BODY]) does not work if the body is a JSON array"
### Describe the feature request

I'd like to use the `len()` condition in a health check when the expected result from hitting my endpoint is a list without a root key, instead of an object.

Example payload:

`[{"foo": "bar"}, {"hello": "world"}]`

I'd like to write a check like:

`len([BODY]) == 2`

To ensure that the returned data contains exactly two elements.

### Why do you personally want

[2022-11-04 00:33] TwiN commented on #359
Good catch, this should be working.
I'll have a look at it.

[2022-11-04 00:50] #359 closed

[2022-11-04 12:41] diamonddelt commented on #359
@TwiN Thank you for the quick turnaround - very much appreciated!

[2022-11-04 16:39] sudheeshb commented on #321
Is there any plan to fix this?

[2022-11-08 07:02] Linkandzelda opened #361 "Random failures of "[CONNECTED] == true" condition. How to debug?"
### Describe the bug

I've setup Gatus to use ICMP to ping my internal VMs by their dns name from one of the VMs. Everything works fine, except randomly they all report a failure 1 time on the condition `[CONNECTED] == true` all at the same time. After that, they are all green again for a couple of hours until they fail again once. One of those VMs is the actual VM Gatus is running on, and that on

[2022-11-08 07:04] Linkandzelda commented on #361
Wanted to add, I have a few TCP endpoints that also fail at the same time as the ICMP ones.

[2022-11-08 07:41] TwiN commented on #361
I've run Gatus on hundreds of machines, different environments and several cloud providers, and I can tell you with some degree of confidence that this type of problem is usually due to networking or hardware issues.

You could try to run a script that pings indefinitely and see if when Gatus has the issue you mentioned, the ping script also has this issue.

[2022-11-08 07:46] Linkandzelda commented on #361
Thank you for the comment. What I've ran is this snippet for testing:
`while true; do ping vmnodename-1 -c 1; sleep 0.1; done`

This was to test DNS resolution and ping at a fast rate. What I discovered is that my DNS randomly reports NXDOMAIN. So I believe that was able to point me in the direction that this is not a Gatus issue.

Thank you for your fast response, and thank you for creating this

[2022-11-08 07:58] TwiN commented on #361
I'm glad to hear Gatus helped you find an underlying issue! Good luck figuring out the root cause :)

[2022-11-08 07:58] #361 closed

[2022-11-08 08:31] melsom opened #362 "GoogleChat alerts are blank under certain conditions for ICMP endpoints"
### Describe the bug

When using ICMP and [CONNECTED] == true, whenever an endpoint fails, the Google Chat/Spaces App only sends a blank message with no data.

### What do you see?

Nothing is displayed, it sends an empty message.

### What do you expect to see?

Full alert, like with HTTPS, which works just fine. This is ICMP only.

### List the steps that must be taken to reproduce this issue

S

[2022-11-09 01:55] TwiN commented on #362
@melsom I've made an attempt to fix it in #363, but I don't use Google Chat, so could you test it for me?
I've published the fix under the Docker image tag `experimental` (`twinproduction/gatus:experimental`).

[2022-11-09 07:40] melsom commented on #362
Hello @TwiN - Tried your build now, and now we don't see any messages ICMP or HTTPS at all coming into our Google Chat Space. I have no way of debugging this myself unless you give me explicit instructions :) Hope you're able to solve it.

[2022-11-09 07:53] melsom commented on #362
Here are the logs for you:

ICMP Endpoint:

2022/11/09 07:51:46 [watchdog][handleAlertsToTrigger] Sending googlechat alert because alert for endpoint=TEST ALERT with description='Endpoint is not responding' has been TRIGGERED
2022/11/09 07:51:46 [watchdog][handleAlertsToTrigger] Failed to send an alert for endpoint=TEST ALERT: call to provider alert returned status code 400: {
  "error": {
    "co

[2022-11-09 23:45] TwiN commented on #362
@melsom Could you try again? I made another change & re-released `experimental`.

[2022-11-10 01:06] TwiN commented on #333
Resolved by #352

[2022-11-10 01:06] #333 closed

[2022-11-10 08:06] melsom commented on #362
@TwiN

It now sends blank alerts for everything. No errors in the logs though:
022/11/10 08:04:34 [watchdog][handleAlertsToResolve] Sending googlechat alert because alert for endpoint=TEST with description='Endpoint is not responding' has been RESOLVED

See the following url for screenshot:
https://i.postimg.cc/CLsgTXwL/mon.png

[2022-11-10 23:05] TwiN commented on #362
@melsom So I finally gave in and decided to set up Google Chat myself, but well.. it seems like you need to be a paid user to create webhooks, so it seems like you'll be stuck with me for a bit longer 🤣

Anyways, I've made one more change.
Hopefully, third time's the charm 🤞

[2022-11-11 00:13] melsom commented on #362
It was :) Finally working. Thank you!

[2022-11-11 03:11] TwiN commented on #362
@melsom Glad to hear it! I'll merge #363 shortly :)

[2022-11-11 10:02] melsom commented on #362
It seems I have spoken too soon, we still get ICMP endpoints with no data. Do you have telegram or anything else? I want to share the data we use but do not want to put that public.

[2022-11-11 23:46] TwiN commented on #362
Before that, I just created #364 and re-released the tag `experimental` with only one change: it prints the GoogleChat request body.

Could you try again, and reply with the request body that shows as a blank message?

(don't forget to replace all confidential information by other, equivalent strings)

[2022-11-13 20:36] hypervtechnics commented on #64
Some orientation from another project, which also contains some of the ideas I already mentioned: https://oss.oetiker.ch/smokeping/doc/smokeping_master_slave.en.html

[2022-11-15 19:18] melsom commented on #362
Sorry been a few busy days. Will test now shortly and report back.

[2022-11-16 03:19] 117503445 opened #367 "Support for badge custom Durations"
### Describe the feature request

The Durations of badge can be customized by the user instead of a predefined set of values(7d, 24h, 1h).

### Why do you personally want this feature to be implemented?

Currently badge only supports 7d, 24h, 1h as Durations, however, I would like to use 3 months Durations as a metric for application availability.

### How long have you been using this project?

2

[2022-11-16 23:10] melsom commented on #362
Still does not output anything for icmp. Also tried tcp, same there, but https works. Tcp/icmp does report fine to our pushover (custom) instance.

[2022-11-18 13:06] alexis974 commented on #367
I agree with @117503445  !

Furthermore, it would be pretty helpful to have the information of availability in a year which can be used as an SLI (service level indicator).

[2022-11-18 13:14] TwiN commented on #367
This is kind of a duplicate of #128 - comment on the issue and re act with 👍if you want it to be prioritized :)

[2022-11-18 13:15] #367 closed

[2022-11-18 23:45] melsom commented on #362
If you want to share your email I can invite your account to a paid Space to test.

[2022-11-19 21:43] TwiN opened #371 "len function does not behave as intended for JSON arrays, integers and booleans"
### Describe the bug

- `len([BODY][0])` does not work as intended if the output of `[BODY][0]` is an object (map)
- The reported length of all booleans is 1
- The reported length of all integers is 1

### What do you see?

Given the body:
[code]

The following conditions fail:
[code]

### What do you expect to see?

I expect the conditions to succeed.

### List the steps that must be taken to rep

[2022-11-19 22:25] #371 closed

[2022-11-20 21:57] TwiN commented on #362
@melsom Please do, that would be awesome.

Use the following gmail account:

[code]

[2022-11-23 01:04] TwiN commented on #362
So I did some debugging using the space you provided me, and the cause seems to be that Google Chat refuses to display an URL when the underlying link is not prefixed with https://.

Because `tcp://` and `icmp://` endpoints aren't prefixed with `https://`, it just fails silently (and Google Chat even returns a 200!).

Fix incoming.

[2022-11-23 01:12] #362 closed

[2022-11-23 02:45] TwiN commented on #157
I gave implementing this a try but it's not as simple as I had hoped.

What exactly would you like to test? A simple check to see if the server is reachable is fine, it's even possible to check if a method is valid, but if you want to also send a proto message, then it's a different story altogether.

Feel free to give implementing it a shot if you have an idea!

[2022-11-24 15:03] yuvals41 opened #377 "feat: Sort by failed endpoints first"
### Describe the feature request

hello,
when i view the ui dashboard i want to see the failed responses pop up at the top of the page where i can see the error on which endpoint instead of scrolling down (we have a lot of endpoints) until we find our failed endpoint.

to summerize we want the failed services to always be on top of the page

### Why do you personally want this feature to be implem

[2022-11-24 19:05] TwiN commented on #377
Duplicate of #150

[2022-11-24 19:05] #377 closed

[2022-11-24 20:49] arnemolland commented on #157
Primarily just checking the status given that the server is serving the gRPC healthcheck service, hopefully I can give it a shot sometime soon!

[2022-11-27 05:21] TwiN opened #378 "feat(alerting): Support GitHub as an alerting provider (issues)"
### Describe the feature request

I'd like Gatus to have an alerting provider that would create an issue when an alert is triggered.

The implementation must support an optional list of usernames to assign (or tag) in the issue.

### Why do you personally want this feature to be implemented?

_No response_

### How long have you been using this project?

_No response_

### Additional information

[2022-11-28 04:25] gouku opened #379 "Repeating notifications"
### Describe the feature request

Ability to send repeated notifications every x min/hr if the endpoint is still offline/dead.

### Why do you personally want this feature to be implemented?

We now had over 300 nodes monitoring via Gatus and we received the notifications via Slack and Telegram. One scenario is when some nodes are offline during the weekend. We always forget to fix them in the nex

[2022-11-28 04:49] TwiN commented on #379
Sounds like a good idea!

Something like this:
[code]

That said, not all alerting providers should allow this.
For instance, `pagerduty` incidents need an acknowledgement on resolve, so we probably don't want to trigger multiple alerts simultaneously for pagerduty. For Slack, Discord, Teams, Telegram, etc. it shouldn't be an issue.